{{>header}}
	<p><h2>Modificar usuario</h2></p>

	<article class="articulo">
		<h3>Introducir datos:</h3>
		<form class="formulario" action="/modified_user" method="post">
			
			<label for="id">ID: (No se puede modificar, introduce el mismo ya existente)</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br> 
			<input type="text" id="id" name="id"><br>
			
			<label for="name">Nombre:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<input type="text" id="name" name="name"><br>
			
			<label for="password">Contrasena:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<input type="text" id="password" name="password"><br>
			
			<label for="state">Estado:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<select name="state" id="state">
  				<option value="active">Activo</option>
  				<option value="inactive">Inactivo</option>
			</select><br><br>
			
			<input type="submit">
		</form>
	</article>
{{>footer}}