{{>header}}

	<div class="moduloGestion">
			<a href="/users">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
		  			<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
				</svg>
			</a>
	<h1>Modificar usuario</h1>
	</div>

	<article class="articulo">
		<h3>Introducir nuevos datos del usuario con ID: {{id}}</h3>
		<form class="formulario" action="/modified_user/{{id}}" method="post">
			
			<label for="name">Nombre actual: {{name}}</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<input type="text" id="name" name="name"><br>
			
			<label for="password">Contraseña actual: {{password}}</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<input type="text" id="password" name="password"><br>
			
			<label for="state">Estado actual: {{state}}</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<select name="state" id="state">
  				<option value="active">Activo</option>
  				<option value="inactive">Inactivo</option>
			</select><br><br>
			
			<input type="submit">
		</form>
	</article>
{{>footer}}