{{>header}}
	<p><h2>Registrar nuevo usuario</h2></p>

	<article class="articulo">
		<h4>Introducir datos:</h4>
		<form class="formulario" action="/process_user" method="post">
			<label for="id">ID:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br> 
			<input type="text" id="id" name="id"><br> 
			
			<label for="name">Nombre:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<input type="text" id="name" name="name"><br>
			
			<label for="password">Contraseña:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<input type="text" id="password" name="password"><br>
			<input type="submit">
		</form>
	</article>
{{>footer}}