{{>header}}

	<div class="moduloGestion">
			<a href="/users">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
		  			<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
				</svg>
			</a>
	<h1>Registrar nuevo usuario</h1>
	</div>
	<article class="articulo">
		<h4>Introducir datos:</h4>
		<form class="formulario" action="/process_user" method="post">
			<label for="id">ID:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br> 
			<input type="text" id="id" name="id"><br> 
			
			<label for="name">Nombre:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<input type="text" id="name" name="name"><br>
			
			<label for="password">Contraseña:</label>
			<abbr title="Obligatorio" aria-label="Obligatorio">*</abbr></label><br>
			<input type="text" id="password" name="password"><br>
			<input type="submit">
		</form>
	</article>
{{>footer}}