*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	/*Añadir estilo de letra*/
	padding:90px 20px 0;
	font-family: Arial, Helvetica, Sans-Serif;
	
}

.cabecera{
	background-color:#CB0017;
	height: 80px;
	position:fixed; /*Posicion fija*/
	width:100%;
	top:0;
	left:0;
}

.nav-sb{
	display:flex; /*Poner elementos en horizontal*/
	justify-content: space-between;
	max-width: 992px; /*En boostrap explican porque este numero*/
	margin:0 auto;
}

.logo{
	font-size: 30px;
	font-weight: bold;
	/*padding:0 40px;*/

	line-height: 70px; /*Para que quede centrado se le pone el mismo alto que tenemos en el bloque*/
	
}

.nav-menu-sb{
	display:flex; /*Elementos en posicion horizontal*/
	margin-right: 40px;
	list-style: none;
	text-decoration: none;
}
.nav-link-sb {
  color: white;
  text-decoration: none;
}
.nav-menu-item-sb{
	font-size:18px;
	margin: 0 10px;
	line-height: 80px;
	list-style: none;
	text-decoration: none;
	width: max-content; /*Para que no corte las palabras cuando se haga pequeño*/
}

.nav-menu-link-sb{
	padding:8px 12px;
	border-radius: 3px;
}
.nav-menu-link-sb:hover{
	background-color: rgb(73, 73, 73);
	transition: 0.5s;
}
.carrousel{
	width:1300px;
	height: 0 0 700px 100px;
	overflow:hidden;
}
#logo-campus{
margin: -10px 0px 0px -180px;
}

.barra-roja{
	background-color:rgb(203, 0, 23);
	margin:5%;
}
.slide {
	margin-top: 10px;
	
}
.slide img{
	height:65vh;
}

/*css de stations*/

.moduloGestion{
	display:flex;
	
}

.table{
	text-align: center;
}
.elementos-estaciones{
	height:auto;
}

.ListaEstaciones{
	margin: 0 auto;
	display:flex;
	width: max-content;
	
 }
.ListaEstacionesTabla{
	height:500px;
	width:auto;
	border: 1px solid #ddd;
	overflow-y: scroll;
}

.botones{
	display:flex;
	justify-content: space-between;
	margin: 0 auto;
	width: max-content;
}
.btn{
	margin:0 10px;
	
}
/*fin css de stations*/

.footer{
	margin:20px 0;
	background-color:#CB0017;
	display:flex;
	justify-content: center;
	text-decoration: none;
	width:100%;
}

.footer svg{
	
	margin: 10px 200px;
	width:100px;
	height:100px;
}