{{>header}}
	
		<div class="ListaBicicletaTabla">
				<table class="table">
	  				<thead class="thead-dark">
	    				<tr>
				    		<th scope="col">#</th>
				    		<th scope="col">Id</th>
				      		<th scope="col">Numero de serie</th>
				      		<th scope="col">Modelo</th>
				      		<th scope="col">Estado</th>
				      		<th scope="col">Ver datos Bicicleta</th>
				      		<th scope="col"></th>
	    				</tr>
	  				</thead>
					<tbody ="elementos-bicicletas">
	  				{{#bicicletas}}
	    				<tr>	
					     	<th scope="row">{{-index}}</th>
					     	<td>{{id_bicycle}}</td>
					      	<td>{{n_serie}}</td>
					      	<td>{{modelo}}</td>
					      	<td>{{estado}}</td>
					      	<td>
					  			<a href="/mostrar_info/{{id_bicycle}}">
					  				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
	  									<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
									</svg>
							</td>
							<td>
								<a href="/disabled_bicycle/{{id_bicycle}}">
	  								<button type="button" class="btn btn-danger">Dar de Baja Bicicleta</button>
	  							</a>
					  		</td>
					  	</tr>
	    			{{/bicicletas}}
  				</tbody ="elementos-bicicletas">
			</table>
		</div>
	
{{>footer}}