{{>header}}
		<div class="moduloGestion">
			
				<a href="/stations">
					<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
			  			<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
					</svg>
				</a>
			{{#station}}
			<h1>Editar Estación</h1>
			{{/station}}
		</div>
		<p style="margin:0 3rem">Solo se podran editar los datos geograficos de la estacion</p style="margin:0 3rem">
		
		<div>
			{{#station}}
			<h3>Coordenadas de la estación: <span style=" font-weight:bold">{{coordenadas}}</span style:"font-weight:bold"></h3>
			{{/station}}
		</div>
		
		
		<form action="/editedStation/{{id}}" method="get">
  			<div class="mb-3">
    			<label for="InputCoords" class="form-label">Introduce las nuevas coordenadas:</label>
    			<input name="coords" type="text" class="form-control">
  			</div>
  			
  	
  			<input type="submit" class="btn btn-danger">
  			
		</form>
		
{{>footer}}