<!DOCTYPE html>
<html>

<head>
    <title>BiciUrjc</title>
    <base href=".">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/style.css"
 	<!--<link rel="stylesheet" href="/css/style.css"-->
 </head>	
    <!-- 3. Display the application -->
    <body>
          <div>
               