{{>header}}
	<div class="div-nav-main">
			<!--Logo de la app-->
		<nav>
			<div class ="item-nav" id="item1">
				<a href="https://urjc.es">
					<img SRC="https://upload.wikimedia.org/wikipedia/commons/d/db/Logo_URJC.svg" id="logo">
				</a>
				
			</div>

			
			<!--Lista de Modulos de la app-->
			<div class ="item-nav" id="item2">
				
					<ul>
					<li>
						<a href="/users">
							Modulo Gestion Usuarios
						</a>
					</li>
					<li>
						<a>Modulo Gestion Estaciones Bicicletas</a>
					</li>
					<li>
						<a>Modulo Gestion Bicicletas y ciclo de vida</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	
	<!--Barra que separa el nav-->
	<hr>
	
	<header class="showcase">
        <h2>Cosas de la UNI</h2>
      	<p>Descripcion de lo que se quiere poner</p>
       	<a href="https://www.urjc.es/etsii" class="btn"  target="_blank">
        	Mostar más <i class="fas fa-chevron-right"></i>
    	</a>
	</header>
	
{{>footer}}