{{>header}}
	<div="container">
		<div class="moduloGestion">
		<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  			<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
		</svg>
		<h1>Gestion de ciclo de vida de las bicicletas</h1>
		</div>
		
		<div class="botones">
			<div class="ListaBicicletas">
				<h3>Listado de Bicicletas</h3>
			</div>
			<div>
			<a href="/new_bicycle">
				<button type="button" class="btn btn-danger">Añadir Bicicleta</button>
			</a>		
			</div>
			<div>
				<!--<button type="button" class="btn btn-danger">Dar de Baja Bicicleta</button>-->
			</div>
		
		</div>	
		<div class="ListaBicicletaTabla">
				<table class="table">
	  				<thead class="thead-dark">
	    				<tr>
				    		<th scope="col">#</th>
				    		<th scope="col">Id</th>
				      		<th scope="col">Numero de serie</th>
				      		<th scope="col">Modelo</th>
				      		<th scope="col">Estado</th>
				      		<th scope="col">Ver datos Bicicleta</th>
				      		<th scope="col"></th>
	    				</tr>
	  				</thead>
					<tbody ="elementos-bicicletas">
	  				{{#bicycle}}
	    				<tr>	
					     	<th scope="row">{{-index}}</th>
					     	<td>{{id}}</td>
					      	<td>{{n_serie}}</td>
					      	<td>{{modelo}}</td>
					      	<td>{{estado}}</td>
					      	<td>
					  			<a href="/mostrar_info/{{id}}">
					  				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
	  									<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/>
									</svg>
							</td>
							<td>
								<a href="/disabled_bicycle/{{id}}">
	  								<button type="button" class="btn btn-danger">Dar de Baja Bicicleta</button>
	  							</a>
					  		</td>
					  	</tr>
	    			{{/bicycle}} 
  				</tbody ="elementos-bicicletas">
			</table>
		</div>
	</div>
{{>footer}}