{{>header}}
	<p><h2>Mostrar Informacion de la Bicicleta</h2></p>
	
	<div>
		<hr>
			Numero de serie: {{n_serie}}<br>
			Modelo: {{modelo}}<br>
			Fecha de alta: {{f_alta}}<br>
			Estado: {{state}}<br>
			Estados: {{estados}}
		</hr>
	</div>
	<br>
	<a href="/asignar_estacion/{{id_bicycle}}">
		<button type="button" class="btn btn-danger">Asignar Estacion</button>
	</a>
	<br><br>
	<div>
		<a href="/bicycles">
			<button type="button" class="btn btn-danger">Volver al Inicio</button>
		</a>
	</div>
{{>footer}}