{{>header}}
	<div class="moduloGestion">
			<a href="/bicycles">
				<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="red" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
		  			<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
				</svg>
			</a>
	<h1>Mostrar Informacion de la Bicicleta</h1>
	</div>
	<div class="ListaBicicletaTabla">
				<table class="table">
	  				<thead class="thead-dark">
	    				<tr>
				    		<th scope="col">Id</th>
				      		<th scope="col">Numero de serie</th>
				      		<th scope="col">Modelo</th>
				      		<th scope="col">Estado</th>
				      		<th scope="col">Lista Estados</th>
	    				</tr>
	  				</thead>
					<tbody ="elementos-bicicletas">
	  				
	    				<tr>	
					     	
					     	<td>{{id_bicycle}}</td>
					      	<td>{{n_serie}}</td>
					      	<td>{{modelo}}</td>
					      	<td>{{state}}</td>
					      	<td>{{estados}}</td>
							<td>
								<a href="/disabled_bicycle/{{id_bicycle}}">
	  								<button type="button" class="btn btn-danger">Dar de Baja Bicicleta</button>
	  							</a>
					  		</td>
					  	</tr>
	    			
  				</tbody ="elementos-bicicletas">
			</table>
		</div>
	<br>
	<a href="/asignar_estacion/{{id_bicycle}}">
		<button type="button" class="btn btn-danger">Asignar Estacion</button>
	</a>
	<br><br>
	<div>
		<a href="/bicycles">
			<button type="button" class="btn btn-danger">Volver al Inicio</button>
		</a>
	</div>
{{>footer}}